/*Google Fonts: ('Over the Rainbow, cursive') and ('Montserrat', sans-serif)*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar,
footer {
  background-color: black !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: white;
  padding: 20px 20px 5px 20px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.navbar-nav {
  text-align: right;
  margin-right: 15px;
}
.nav-link {
  margin-bottom: 2px;
  color: #dec2ba;
}

.logo {
  margin: -20px 0px 0px 20px;
  border-radius: 10px;
}
.hero {
  background-color: black;
  padding: 0px 0px;
}
#HMJLogo {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  margin-top: -80px;
}
.banner {
  background-color: #dec2ba;
}

h5 {
  text-align: center;
  color: #dec2ba;
  font-family: "Over the Rainbow", cursive;
}
h1 {
  margin-top: -60px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #dec2ba;
  text-align: center;
}

.hero h3 {
  margin-top: -70px;
  font-size: 35px;
}
h5 {
  font-size: 13px;
  margin-bottom: 30px;
}

.container {
  display: block;
  margin: 0px auto;
  font-family: "Montserrat", sans-serif;
}
.row {
  display: flex;
  text-align: center;
}
.col-md-6 {
  margin-top: 10px;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

#responsive-paragraph {
  text-align: left;
}

/*Homepage-Middle-section*/
.technology-section {
  background-color: #dec2ba4a;
  padding: 40px 40px;
  grid-template-columns: 1fr 1fr;
}

.technology-section li {
  list-style: none;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

/*Homepage-Featured-section*/

.featuredproject h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: black;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

.featuredproject h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: black;
  margin: 0;
}

.img-responsive {
  width: 100%;
  display: block;
}

.featured {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
}
.card {
  background-color: white;
  margin: 30px 0;
}
.card-header.grid {
  grid-gap: 0;
  padding: 0px;
}

.card-body {
  padding: 30px;
}

.button {
  display: block;
  color: black;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #dec2ba;
  text-decoration: none;
}

/*Footer-section*/

.social-media {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.social-media a {
  color: #dec2ba;
}

a:visited {
  color: black;
}

footer {
  margin-top: auto;
  width: 100%;
  padding-top: 5px;
  font-size: 12px;
}

.design {
  margin-bottom: 0;
  padding-bottom: 0;
}

footer a:visited {
  color: #dec2ba;
}

@media (max-width: 1000px) {
  .featured {
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}

@media (max-width: 780px) {
  .featured {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}

@media (max-width: 450px) {
  #HMJLogo {
    width: 300px;
    padding-top: 10px;
  }
  h1 {
    font-size: 25px;
    padding-top: 10px;
  }
  h3 {
    font-size: 20px;
  }
  h5 {
    display: none;
  }

  .technology-section {
    padding: 20px 20px;
    grid-template-columns: 1fr;
  }
  .featured {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  .row,
  .col-sm {
    margin: 0px 0px;
    padding: 0px 0px;
  }

  #responsive-paragraph,
  #clock-paragraph {
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: center;
  }

  footer {
    margin-top: 10px;
  }
}
/*About Page*/

.about-hannah {
  color: black;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 10px;
  letter-spacing: 5px;
  background-color: #dec2ba;
}

#about {
  padding: 20px;
}

.hannah {
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  display: block;
  margin: auto;
}
.hannah-description {
  text-align: left;
}
.work {
  color: black;
  background-color: #dec2ba;
  border-color: #dec2ba;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}
.work:hover {
  padding: 20px;
  transition: ease-in-out;
}
.work a {
  text-decoration: none;
}
.work a:hover {
  text-decoration: none;
}
@media (max-width: 450px) {
  .about {
    margin: 0px;
    padding: 0px;
  }
  .about-hannah {
    font-size: 20px;
  }
  .hannah-description {
    text-align: left;
    padding: 10px;
  }
  .hannah {
    width: 50%;
  }
}

/*Portfolio Page*/

.portfolioTitle {
  color: black;
  font-size: 40px;
  font-family: "Over the Rainbow", cursive;
  text-align: center;
}

.small-title-projects {
  display: none;
}
.col-sm-6 {
  padding: 20px;
}

.col-sm-6 img {
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.title-projects {
  color: black;
  font-size: 40px;
  font-family: "Over the Rainbow", cursive;
}

.paragraph-projects {
  text-align: left;
  vertical-align: middle;
}

@media (max-width: 450px) {
  #weatherappproject,
  #worldclockproject,
  #hikingwebsite,
  #southdakotawebsite,
  #weatherappreactproject {
    display: none;
  }

  .col-sm-6 {
    padding: 20px;
  }
  .small-title-projects {
    display: block;
    font-family: "Over the Rainbow", cursive;
  }
}

/*Contact Page*/
.container {
  text-align: center;
  padding: 15px;
}
#connections {
  text-align: center;
}
i {
  font-size: 16px;
}
.secondary-contact {
  display: none;
}
.secondary-contact a {
  color: black;
}
.email a {
  color: black;
}
.email i:hover {
  font-size: 40px;
}
.linkedin a {
  color: black;
}
.linkedin i:hover {
  font-size: 40px;
}
.shecodes a {
  color: black;
}
.shecodes i:hover {
  font-size: 40px;
}
.schedule img {
  max-width: 50%;
}
@media (max-width: 450px) {
  .original-contact {
    display: none;
  }
  .secondary-contact {
    display: inline;
  }
}
