/*Google Fonts: ('Cedarville Cursive', cursive) and ('Montserrat', sans-serif)*/
.navbar,
footer {
  background-color: #fff5ee !important;
}
.logo {
  margin: 13px 0px 20px 20px;
  border-radius: 10px;
}
.hero {
  background-color: #fff5ee;
  padding: 10px 30px 50px 30px;
  margin-bottom: 20px;
}
.hero h1,
h3,
h5 {
  text-align: center;
}
h1 {
  font-size: 60px;
  font-family: "Cedarville Cursive", cursive;
}
h3,
h5 {
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-size: 25px;
}
h5 {
  font-size: 15px;
}

.responsive {
  margin: 20px 20px;
  padding: 20px;
}
.row {
  margin: 15px 15px;
  display: flex;
}
.container {
  margin: 10px 10px;
  padding: 10px;
}
.clock {
  border-radius: 10px;
}

.social-media {
  text-align: center;
}
a:visited {
  color: black;
}

footer {
  margin-bottom: 0;
  padding-bottom: 0;
  width: 100%;
}
.design {
  margin-bottom: 0;
  padding-bottom: 0;
}
